* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #222222;
    padding: 18px 0 18px 0;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__item:not(:last-child) {
    margin: 0 33px 0 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.menu {
    height: 764px;
    width: 232px;
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    top: 78px;
    box-shadow: 0px 0 5px 5px rgba(0, 0, 0, 0.15);
}

.menu__top {
    padding: 16px 17px 9px 203px;
}

.menu__center {
    padding: 0 0 0 34px;
}

.menu__center h5 {
    margin: 0 0 24px 0;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu__center p {
    margin: 20px 0 0 0;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.menu__a {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
}

.menu__a a {
    margin: 12px 0 0 0;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
}

.intro {
    background: #F1E4E6;
    height: 764px;
}

.intro__wrap {
    position: relative;
    display: flex;
    height: 100%;
    background: url(./img/intro__background.png) no-repeat;
    background-position: -214px 0;
}

.intro__text {
    padding: 0 0 0 16px;
    position: absolute;
    margin: 290px 0px 381px 679px ;
    width: 40%;
    border-left: 12px solid #F16D7F;
}

.intro__text h1 {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    font-size: 42px;
    line-height: 57,6px;
}

.intro__text p {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 44,4px;
}

.sections {
    height: 470px;
    margin: 65px 0 96px 0;
}

.sections__wrap {
    height: 100%;
}
.sections__top {
    display: flex;
}

.sections__block {
    height: 260px;
    width: 360px;
    position: relative;
}

.sections__block:not(:last-child) {
    margin: 0 30px 0 0;

}

.block__1 {
    background: url(./img/for__women.png);
}

.block__2 {
    background: url(./img/for__men.png);

}

.block__3 {
    background: url(./img/for__kids.png);

}

.block__text__top {
    padding: 110px 0 0 0;
}

.discount {
    color: #F1E4E6;
}

.sections__under {
    padding: 30px 0 0 0;
}

.block__4 {
    background: url(./img/accesories.png);
    width: 100%;
    height: 180px;
    position: relative;
}

.for___1-3 {
    background: url(./img/for____.png);
    opacity: 0.7;
    height: 260PX;
}

.for___4 {
    background: url(./img/for____.png);
    opacity: 0.7;
    height: 180PX;
}

.block__text__under {
    padding: 70px 0 0 0;

}

.block__text__top__p__top {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19,2px;
    text-align: center;
    color: white;
}

.block__text__top__p__under {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28,8px;
    text-align: center;
    color: #F16D7F;
}

.items {
    height: 1469px;
}

.items__wrap {
    height: 100%;
}

.head__text h2,
.head__text p{
    text-align: center;
}

.head__text h2 {
    font-family: Lato;
    font-style: Regular;
    Font-size: 30px;
    Line-height: 36px;
    Line-height: 100%;
    text-align: center;
    color: #222222;
    margin: 0 0 6px 0;
}

.head__text p {
    font-family: Lato;
    font-family: Regular;
    font-family: 14px;
    line-height: 17px;
    line-height: 100%;
    color: #9F9F9F;
}

.items__body {
    margin: 48px 0 48px 0;
}

.line__1,
.line__2,
.line__3 {
    display: flex;
}

.line__1 {
    margin: 0 0 30px 0;
}

.line__3 {
    margin: 30px 0 0 0;
}

.item__to__sell {
    width: 360px;
    height: 581px;
    
}

.item__to__sell:not(:last-child) {
    margin: 0 30px 0 0;
}

.item__to__sell:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }

.item__photo {
    width: 100%;
    height: 420px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
  
    opacity: 0;
    transition: 0.5s;
}
  
.item__photo:hover .overlay {
    opacity: 1;
}

.overlay a {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 15px 10px 15px;
    border: 1px solid #FFFFFF;
}

.item__photo__1 {
    background: url(./img/item__1.png);
}
.item__photo__2 {
    background: url(./img/item__2.png);
}
.item__photo__3 {
    background: url(./img/item__3.png);
}
.item__photo__4 {
    background: url(./img/item__4.png);
}
.item__photo__5 {
    background: url(./img/item__5.png);
}
.item__photo__6 {
    background: url(./img/item__6.png);
}
.item__photo__7 {
    background: url(./img/item__7.png);
}
.item__photo__8 {
    background: url(./img/item__8.png);
}
.item__photo__9 {
    background: url(./img/item__9.png);
}

.item__text {
    padding: 24px 29px 20px 16px;
    width: 100%;
    height: 161px;
    background-color: #F8F8F8;
}

.item__text__name {
    margin: 0 0 12px 0;
    font-family: Lato;
    font-style: Regular;
    font-size: 13px;
    line-height: 16px;
    line-height: 100%;
    text-align: left;
    text-decoration: none;
}

.item__text__link {
    text-decoration: none;
    
}

.item__text__link:visited {
    color: #000000;
}

.item__text__link:hover {
    color: #F16D7F;
}

.item__text__description {
    margin: 0 0 17px 0;
    font-family: Lato;
    font-style: light;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    color: #5D5D5D;
}

.item__text__price {
    font-family: Lato;
    font-style: Regular;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    text-align: left;
    color: #F16D7F;
}

.items__button {
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid #F26376;
    color: #F26376;
    padding: 14px 38px 14px 38px;
    text-decoration: none;
}

.top__footer {
    height: 341px;
    background: url(./img/background__under__button.png);
}

.top__footer__wrap {
    height: 100%;
}

.all__promo {
    height: 100%;
    display: flex;
    padding: 103px 0 104px 0;
}

.promo {
    width: 360px;
    height: 134px;
}

.promo:not(:last-child) {
    margin: 0 30px 0 0;
}

.promo__icon {
    height: 41px;
    margin: 0 154px 0 158px;
}

.icon__1 {
    background: url(./img/delivery.svg) no-repeat;
}

.icon__2 {
    background: url(./img/sales.svg) no-repeat;
}

.icon__3 {
    background: url(./img/assurance.svg) no-repeat;
}

.promo__text {
    height: 101px;
    padding: 28px 0 0 0;
}

.promo__text__top {
    color: #FBFBFB;
    font-family: Lato;
    font-style: Regular;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 16px 0;
}

.promo__text__under {
    font-family: Lato;
    font-style: Light;
    font-size: 13.97px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    opacity: 0.5;
}

.mid__footer {
    height: 448px;
    background: url(./img/background__under__button__2.png) no-repeat;
    background-size: 100%;
    background-position-y: -38px;
}

.mid__footer__back {
    height: 448px;
}

.mid__footer__wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 360px;
    height: 225px;
}

.quote__photo {
    background: url(./img/quote__photo.png) no-repeat;
    background-position: center;
    height: 126px;
}

.quote__text {
    height: 99px;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.input__right {
    margin: 0 0 0 223px;
    width: 560px;
    height: 142px;
}

.input__right__text {
    height: 61px;
}

.input__right__text h4,
.input__right__text h5 {
    text-align: center;
}

.input__right__text h4 {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
}

.input__right__text h5 {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}

.input__right__input {
    padding: 32px 0 0 110px;
    height: 81px;
    display: flex;
}

.input__email__text {
    width: 256px;
    border: none;
    padding: 7px 64px 6px 22px;
    border-radius: 25px 0 0 25px;
    background-color: #E1E1E1;
}

.input__email__text:focus {
    outline: none;
    border: 1px solid #F16D7F;
}

.input__email__text::placeholder {
    color: #22222491;
}

.input__email__submit {
    width: 100px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #F16D7F;
    color: white;
    cursor: pointer;
}

.input__email__submit:hover {
    background-color: #f14f65;
}

.input__email__submit:active {
    background-color: #f0b2ba;
}

.input__email__submit:focus {
    outline: none;
    border: 1px solid white;
}

.bottom__footer {
    height: 79px;
    background: url(./img/background__under__button__3.png);
}

.bottom__footer__wrap {
    padding: 24px 0 23px 0;
    display: flex;
}

.bottom__footer__text {
    padding: 6px 0 0 0;
}

.bottom__footer__text p {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19,2px;
    color: #FBFBFB;
}

.bootom__footer__contacts {
    display: flex;
    margin: 0 0 0 747px;
}

.contact {
    width: 32px;
    height: 32px;
    background-color: white;
    
}

.contact:not(:last-child) {
    margin: 0 8px 0 0;
}

.contact__1 {
    padding: 8px 11px 8px 11px;
}

.contact__2 {
    padding: 8px 11px 8px 9px;
}

.contact__3 {
    padding: 8px 11px 8px 10px;
}

.contact__4 {
    padding: 8px 11px 8px 9px;
}





/* catalog */



.top__main {
    background-color: #F8F3F4;
    height: 148px;
}

.top__main__wrap {
    padding: 59px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.left__top__main h1 {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28,8px;
    color: #F16D7F;
}

.right__top__main {
    display: flex;
}

.right__top__main a {
    text-decoration: none;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 16,8px;
    color: #636363;
}

.right__top__main a:hover {
    color: #F16D7F;
}

.right__top__main p {
    margin: 0 5px 0 5px;
}

.options__choise {
    height: 17px;
    margin: 51px 0 0 0;
}

.options__choise__wrap {
    display: flex;
}

.left__filter {
    margin: 0 304px 0 0;
}

.filter__summary {
    display: flex;
}

.filter__summary p {
    margin:  0 11px 0 0;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    color: black;
}

.filter__content {
    position: absolute;
    height: 531px;
    width: 360px;
}

.center__filter {
    display: flex;
}

.center__filter p {
    margin: 0 10px 0 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    color: #6F6E6E;
}

.center__filter img {
    margin: 0 28px 0 0;
}

.all__items {
    height: 2124px;
}

.all__items__wrap {
    height: 100%;
    padding: 51px 0 97px 0;
}

.pages__items {
    display: flex;
    justify-content: center;
}

.pages__items__wrap {
    height: 44px;
    padding: 12px 0 12px 0;
    border: 1px solid #EBEBEB;
    width: 284px;
}

.arrow__left {
    margin: 0 18px 0 15px;
}

.arrow__right {
    margin: 0 15px 0 18px;
}

.page__num {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7c7c7c;
    text-decoration: none;
}

.page__num {
    margin: 0 15px 0 0;
}

.page__last {
margin: 0 0 0 0;
}

.page__num:hover {
    color: #EF5B70;
}



/* product */



.product__bigPhoto {
    height: 777px;
    background-color: #F7F7F7;
}

.product__bigPhoto__wrap {

    height: 100%;
    background: url(./img/product__photo.png) no-repeat;
    background-position: center;
}

.about__product__div {
    
}

.about__product {
    width: 100%;
    height: 600px;
    position: absolute;
    margin: -50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__product__container {
    width: 1141px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;    
}

.about__product__container__2 {
    max-width: 642px;
    width: 100%;
}

.top__about__product {
    display: flex;
    flex-direction: column;
    height: 357px;
    border-bottom: 1px solid #EAEAEA;
    justify-content: center;
}

.tap_1 {
    margin: 64px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tap_1 h2 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.tap_2 {
    margin: 9px 0 0 0;
    display: flex;
    justify-content: center;
}

.tap_2__underline {
    width: 63px;
    border-bottom: 3px solid #EF5B70;
}

.tap_3 {
    margin: 11px 0 0 0;
    display: flex;
    justify-content: center;
}

.tap_3 h3 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4D4D4D;
}

.tap_4 {
    margin: 48px 0 0 0;
    display: flex;
    justify-content: center;
}

.tap_4 p {
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E, 100 %;
}

.tap_5 {
    margin: 32px 0 0 0;
    display: flex;
    justify-content: center;
}

.tap_5 p {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.bottom__about__product {
    height: 243px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.choose {
    display: flex;
    justify-content: center;
    margin: 65px 0 48px 0;
}
    
.under__choose {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 65px 0;
}

.add__to__cart__button__button {
    background-color: #FFFFFF;
    padding: 15px 56px 15px 23px;
    border: 1px solid #FF6A6A;
}

.add__to__cart__button__button a{

    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    margin: 0 0 3px 0;

}

.another__products {
    height: 1274px;
}

.another__products__wrap {
    height: 100%;
    padding: 665px 0 0 0;
}

.footer {
    margin: 128px 0 0 0;
}








/* cart */


.cart {
    height: 1000px;
}

.cart__wrap {
    display: flex;
    height: 100%;
    padding: 96px 0 128px 0;
}

.cart__wrap__left {
    height: 775px;
    width: 652px;
}

.cart__wrap__right {
    height: 775px;
    width: 360px;
    margin: 0 0 0 128px;
}

.cart__item {
    box-shadow: 15px 15px 20px #E5E5E5;
    display: flex;
    height: 306px;
}

.cart__item__info {
    padding: 22px 0 0 31px;
}

.cart__item__info h2 {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.cart__h2__1 {
    margin: 0 0 2px 0;
}

.cart__h2__2 {
    margin: 0 0 42px 0;
}

.X {
    margin:0 22px 0 132px;
}
.cart__item__info p {
    padding: 0 0 6px 0;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #222222;
}

.quality__num {
    height: 25px;
    width: 44px;
    padding: 1px 0 2px 0;
    margin: 0 0 0 25px;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #656565;
}

.first__line {
    margin: 0 0 40px 0;
}

.second__line {
    margin: 0 0 72px 0;
}

.third__line {
    height: 50px;
    display: flex;
}

.cart__leftButton__1 {
    margin: 0 186px 0 0;
}

.leftButton__cart {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #A4A4A4;
    padding: 17px 40px 16px 40px;
}

.cart__right__top {
    height: 285px;
    width: 360px;
    margin: 17px 0 57px 0;
    display: flex;
    flex-direction: column;
}

.cart__right__top h3 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin: 0 0 20px 0;
}

.input__cart__right {
    padding: 13px 17px 16px 17px;
    margin: 0 0 20px 0;
}

.get_a_quote {
    height: 42px;
    width: 133px;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    border: 1px solid #A4A4A4;
    padding: 10px 14px 11px 14px;
    cursor: pointer;
    text-decoration: none;
}

.cart__right__bottom {
    height: 214px;
    width: 360px;
    background-color: #F5F3F3;
    padding: 40px 42px 40px 42px;
}

.cart__right__bottom h3{
    margin: 0 0 12px 176px;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.cart__right__bottom h4{
    margin: 0 0 21px 111px;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.PROCEED_TO_CHECKOUT {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 15px 42px 16px 42px;
    background-color: #F16D7F;
    text-decoration: none;
}




/* registration */


.registration {
    height: 675px;
}

.registration__wrap {
    height: 100%;
    padding: 64px 0 96px 0;
    display: flex;
}

.registration__left {
    width: 360px;
    margin: 0 128px 0 0;
    display: flex;
    flex-direction: column;
}

.registration__left h2 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin: 0 0 20px 0;
}

.input__reg {
    padding: 13px 17px 16px 17px;
    margin: 0 0 20px 0;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #B1B1B1;
}

.radio {
    display: flex;
    margin: 20px 0 33px 0;
}

.gender {
    margin: 0 10px 0 0;
}

.first__gender {
    margin: 0 20px 0 0;
}

.registration__left p {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.join__now {
    height: 50px;
    width: 167px;
    padding: 15px 28px 16px 28px;
    background-color: #F16D7F;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    margin: 40px 0 0 0;
}

.registration__right {
    width: 652px;
}

.registration__right h3 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 22px 0;
}

.registration__right h4 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 21px 0;
}

.registration__right p {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 16px 0;
}